<h3>
    <a href="/toy" class="btn btn-warning">
     Add new toy
    </a>
    Toy List
</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>NAME</th>
            <th>PRICE</th>
            <th>DESCRIPTION</th>
            <th>AMOUNT</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.fullName}}</td>
            <td>{{this.email}}</td>
            <td>{{this.mobile}}</td>
            <td>{{this.city}}</td>
            <td>
                <a href="/toy/{{this._id}}"  class="btn btn-warning">
                    Edit
                </a>
                <a href="/toy/delete/{{this._id}}"
                    onclick="return confirm('Are you want to delete this Toy?');"  class="btn btn-warning">
                   Delete

                    </i>
                </a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>